/* margarine-regular - latin */
@font-face {
    font-family: 'Margarine';
    font-style: normal;
    font-weight: 400;
    src: local('Margarine'), local('Margarine-Regular'),
        url('/fonts/margarine-font/margarine-v7-latin-regular.woff2') format('woff2'),
        url('/fonts/margarine-font/margarine-v7-latin-regular.woff') format('woff');
}

body {
    font-family: sans-serif;
}


.margarine {
    font-family: 'Margarine', sans-serif;
}

.underline {
    border-bottom: 2px solid black;
}
